/* Add application styles & imports to this file! */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}

.jumbotron {
    margin-bottom: 0;
}

.information {
    margin-bottom: 0;
    height: 100%;
}

.main-wrapper {
    height: 100vh;  
  }

  .modal-backdrop {
    z-index: 0;
  }